@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

@theme {
  --color-background: #F9F8F6;
  --color-text: #2C2C2C;
  --color-accent: #C5A065;

  --font-serif: "Noto Serif KR", serif;
  --font-sans: "Pretendard", sans-serif;

  --shadow-float: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text font-sans antialiased;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}
